@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__attribution {
  display: none !important;
}

/* .react-flow__handle-top {
  left: 0%;
  top: 20px;
} */

.react-flow__handle-bottom {
  top: auto;
  left: 96%;
  bottom: 5px;
}
